BasedOnStyle: Google
DerivePointerAlignment: false
Standard: c++17
SortIncludes: false
IndentWidth: 4
NamespaceIndentation: All
SortUsingDeclarations: false
SpacesBeforeTrailingComments: 2
IncludeBlocks: Preserve
AccessModifierOffset: -4
ReflowComments: true
ColumnLimit: 128
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: true